.Calc-body {
  width: 50%;
  height: 70%;
}

.Calc-display {
  background-color: grey;
  text-align: end;
  padding: 25px 10px 0 0;
  color: antiquewhite;
  border: solid 1px rgb(197, 196, 196);
}

.Calc-btns,
.Grey-btns1,
.Grey-btns2 {
  display: grid;
}

.Calc-display,
.Calc-btn {
  height: 50px;
}

.Calc-btns {
  grid-template-columns: 75% 25%;
}

.Grey-btns {
  background-color: rgb(233, 225, 225);
}

.Grey-btns1 {
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.Grey-btns2 {
  grid-template-columns: 66.6% 33.3%;
}

.Orange-btns {
  background-color: orange;
}

.Calc-btn {
  border: solid 1px rgb(197, 196, 196);
  padding-top: 30px;
  font-size: 15px;
}